<?xml version="1.0"?>
<configuration>
    <configSections>
    <connectionStrings>
      <!--<add name="KDUOFLib.Properties.Settings.UOFConnectionString"
            connectionString="Data Source=114.33.198.249;Initial Catalog=UOF;Persist Security Info=True;User ID=yjiow;Password=yjiow"
            providerName="System.Data.SqlClient" />-->
      <add name="KDUOFLib.Properties.Settings.UOFConnectionString" connectionString="Data Source=172.26.100.8;Initial Catalog=UOF;Persist Security Info=True;User ID=sa;Password=hp1020." providerName="System.Data.SqlClient"/>
      <!--<add name="KDUOFLib.Properties.Settings.UOFConnectionString1"
                  connectionString="Data Source=資訊室趙宏瑋;Initial Catalog=UOF;Persist Security Info=True;User ID=sa;Password=admin123+"
                  providerName="System.Data.SqlClient" />-->
    </connectionStrings>
      </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
